.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
!out/**/*.js
node_modules/**
!node_modules/@anthropic-ai/**
!node_modules/openai/**
!node_modules/web-tree-sitter/**
!node_modules/tree-sitter-wasms/**
scripts/**
.git/**
.github/**
*.vsix
